    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://sunnyman.club/img/ico/favicon.ico">
    <title> 便笺 | Memo </title>
</head>
<body>
<div id="header">

    <ul class="user-area">
        <% if (isLogin){ %>
        <li><img src="<%= user.avatar %>" alt=""></li>
        <li><span class="username" title="<%= user.username %>"><%= user.username %></span></li>
        <li><a class="logout" href="/auth/logout">注销</a></li>
        <%} else { %>
        <li><a class="login" title="Login." href="/auth/github"> 登录>>GitHub </a></li>
        <% } %>
    </ul>
    <a class="aicon" title="Author" target="_blank" href="https://github.com/HuangHongRui/Express-memo"><i class="icon">&#xe612;</i></a>
    <a class="add-note" title="Add" href="javascript:void(0)"><span class="fa fa-plus"></span> 添加便笺 </a>
</div>
<div id="content">

</div>

<div class="bgShow"></div>
<script src="/js/index.js"></script>
</body>
</html>
