<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>|备忘录|</title>
</head>
<body>
<div id="header">

    <ul class="user-area">
        <% if (isLogin){ %>
        <li><img src="<%= user.avatar %>" alt=""></li>
        <li><span title="<%= user.username %>"><%= user.username %></span></li>
        <li><span class="line"> | </span> </li>
        <li><a class="logout" href="/auth/logout"> 注销</a></li>
        <%} else { %>
        <li><a class="login" title="GitHub登录" href="/auth/github"> 登录>>GitHub </a></li>
        <% } %>
    </ul>
    <a class="add-note" title="添加小记" href="#"><span class="fa fa-plus"></span> 添加小记 </a>
</div>
<div id="content">

</div>

<div class="bgShow"></div>
<script src="/js/index.js"></script>
</body>
</html>
